.profile-page {
	h1 {
		text-align: center;
		margin: 1em 0;
		span {
			text-decoration: underline;
		}
	}
	.logout-btn {
		@extend .edit-btn;
	}
	.profile-container {
		display: flex;
		width: 95%;
		max-width: 900px;
		background-color: $color-secondary;
		border-radius: 7px;
		margin: 1em auto 0;
		padding: 2em 0;
		@media screen and (max-width: 550px) {
			flex-direction: column;
		}
		.profile-picture {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-right: 1px solid $color-tertiary;
			@media screen and (max-width: 550px) {
				width: 100%;
				border: none;
			}
			.profile-img {
				margin-bottom: 2em;
				img {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					object-fit: cover;
					-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
					box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
				}
			}

			.change-pic {
				@extend .edit-btn;
			}
			form {
				text-align: center;
				#file {
					max-width: 160px;
					margin-bottom: 1em;
				}
			}
		}
		.infos-container {
			width: 50%;
			display: flex;
			flex-direction: column;
			color: $color-tertiary;
			align-items: center;
			@media screen and (max-width: 550px) {
				width: 100%;
			}
			.info {
				p {
					margin-bottom: 1em;
				}
				span {
					padding: 2px 15px;
					font-weight: 600;
					font-size: 1.1em;
					color: $color-tertiary;
					background-color: white;
					border-radius: 7px;
					margin-left: 1em;
				}
			}
			#deleteAccount {
				text-align: center;
				color: $red;
				text-decoration: underline;
				margin: 1.5em 0;
				cursor: pointer;
			}
		}
	}
}